{{> nav currentRoute="/customers_search_profiles" }}


<div class="my-container">
  {{!-- Create a table to display customers based on last name search --}}
  <table id="people-table" class="table table-striped">
    {{!-- Header section --}}
    <thead>
      <tr>
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">EMAIL</th>
      </tr>
    </thead>

    {{!-- Display all attributes of customers --}}
    <tbody>
      {{#each customers}}
      <tr>
        <td>{{this.customer_id}}</td>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Form to search by last name }}
<div class="my-container">
  <h2>Customer Search</h2>
  <p>Search customers by partial or whole last name (to test, search for "S", then narrow down to "Stone" or "Smith"</p>
  <form id="search-customer-html" method="GET" action="/customers_search_profiles">
    <label for="input-lname">Last Name: </label>
    <input type="text" name="lname" id="input-lname-html" />
    <br /><br />
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>
<br /><br />

