<div class="w3-bar w3-light-blue">
  <a
    href="index_private"
    class="w3-bar-item w3-button w3-mobile"
    style="width:33%"
  >Employees Only</a>
  <a href="/" class="w3-bar-item w3-button w3-mobile" style="width:33%">Home</a>
  <a
    href="customers_public"
    class="w3-bar-item w3-button w3-mobile w3-grayscale-max"
    style="width:33%"
  >Customers</a>
</div>

<div class="my-container">
  <h2>Customer Profiles</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">LOYALTY POINTS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1456</td>
        <td>Henry</td>
        <td>Lucky</td>
        <td>hlucas@hello.com</td>
        <td>50</td>
      </tr>
      <tr>
        <td>2345</td>
        <td>George</td>
        <td>Lucas</td>
        <td>glucas@hello.com</td>
        <td>25</td>
      </tr>
      <tr>
        <td>1444</td>
        <td>Tara</td>
        <td>Luca</td>
        <td>tluca@hello.com</td>
        <td>22</td>
      </tr>
    </tbody>
  </table>
</div>

{{! Form to search by last name }}
<div class="my-container">
  <h2>Customer Search</h2>
  <p>Search customers by partial or whole last name</p>
  <form id="search-person-html" method="GET" action="/customers_public">
    <label for="input-lname">Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search" />
    <br /><br />
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>
<br /><br />

<div class="my-container">
  <h2>Customer Orders</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">LOYALTY POINTS</th>
        <th scope="col">ORDER DATE AND TIME</th>
        <th scope="col">TOTAL CHARGES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1456</td>
        <td>Henry</td>
        <td>Lucas</td>
        <td>hlucas@hello.com</td>
        <td>50</td>
        <td>01/25/2021 13:40:00</td>
        <td>42.28</td>
      </tr>
      <tr>
        <td>1456</td>
        <td>Henry</td>
        <td>Lucas</td>
        <td>hlucas@hello.com</td>
        <td>50</td>
        <td>01/28/2021 14:40:00</td>
        <td>35.25</td>
      </tr>
      <tr>
        <td>1456</td>
        <td>Henry</td>
        <td>Lucas</td>
        <td>hlucas@hello.com</td>
        <td>50</td>
        <td>02/13/2021 10:12:00</td>
        <td>10.14</td>
      </tr>
    </tbody>
  </table>

{{! Form to search by last name }}
<div class="my-container">
  <h2>Orders Search</h2>
  <p>Search for orders by customer ID</p>
  <form id="search-person-html" method="GET" action="/customers_public">
    <label for="input-lname">Customer ID</label>
    <input type="text" name="lname" id="input-lname-html-search" />
    <br /><br />
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>