{{> nav currentRoute="/index" }}

<div class="d-flex align-items-center flex-column w3-container w3-light-gray">
  <div class="m-3 d-flex flex-column align-items-center">
    <h2 class="m-3">Welcome</h2>

  </div>

  <div class="d-flex flex-column">
    <h4>Page Links and Descriptions</h4>
    <li><strong>Waiters page</strong>: Holly </li>
    <ol>
      <li>Add a waiter
        <a href="waiters/new">"/waiters/new"</a></li>
      <li>Modify a waiter <a href="waiters/1/edit">"/waiters/:id/edit"</a></li>
    </ol>
    <li><strong>Shifts page</strong>: Kelley </li>
    <ol>
      <li>Display shifts table (with waiter names via shifts_waiters table)
        <a href="shifts/index">"/shifts/index"</a></li>
      <li>Add a shift and assign waiters
        <a href="shifts/new">"/shifts/new"</a></li>
      <li>Update a shift <a href="shifts/1/edit">"/shifts/:id/edit</a></li>
    </ol>
    <li><strong>Orders page</strong>: Kelley</li>
    <ol>
      <li>Display orders table (with menu item names via menu_items_orders
        table)
        <a href="orders/index">"/orders/index"</a></li>
      <li>Add an order and assign menu items (FK waiter_id can be NULL for online orders)
        <a href="orders/new">"orders/new"</a></li>
      <li>Modify an order. Update menu_items_orders table
        <a href="orders/1/edit">"/orders/:id/edit"</a></li>
      <li>Delete an order. Update menu_items_orders table
        <a href="orders/1/delete">"orders/:id/delete"</a></li>
    </ol>
    <li><strong>Customers page </strong>: Kelley</li>
    <ol>
      <li>Add a customer
        <a href="customers/new">"/customers/new"</a></li>
      <li>Modify a customer
        <a href="customers/1/edit">"/customers/:id/edit"</a></li>
    </ol>
    <li><Strong>Menu Items page</Strong>: Holly</li>
    <ol>
      <li>Add a menu item
        <a href="menu_items">"/menu_items"</a></li>
      <li>Modify a menu item
        <a href="menu_items/1/edit">"/menu_items/:id/edit"</a></li>
    </ol>
    <li><strong>Search Customer Orders Page</strong>: Holly</li>
    <ol>
       <li>Select all orders for a customer by customer_id
        <a href="customers_search_orders">"/customers_search_orders"</a></li>
    </ol>
  </div>
  <div class="d-flex justify-content-center">
    <span class="m-3">(206) 331-1245</span>
    <span class="m-3">215 Merrill St. Seattle, WA</span>
    <span class="m-3">your_manager@house_finch.com</span>
  </div>
</div>