<div class="w3-bar w3-light-blue">
      <a
    href="index_private"
    class="w3-bar-item w3-button w3-mobile"
    style="width:33%"
  >Employees Only</a>
  <div class="w3-bar-item" style="width:33%"></div>
    <a
    href="customers_public"
    class="w3-bar-item w3-button w3-mobile"
    style="width:33%"
  >Customers</a>
</div>

<div class="w3-container w3-light-gray">
    <h3>Page Link and Descriptions</h3>
</div>

        <ol>
        <li>Waiters page: Holly </li>
        <ol>
            <li><a href="waiters">Add a waiter, no assignments necessary (no fields can be blank)</li></a>
            <li><a href="waiters">Select waiter from shift id dropdown, display waiters and shifts as a joined table</li></a>
            <li><a href="waiters">Modify a waiter, if shift is changed update shifts_waiters join table</li></a>
        </ol>
        <li>Shifts page:  Kelley </li>
        <ol>
            <li>Add a shift and assign to waiter by waiter ID</li>
        </ol>
        <li>Orders page: Kelley</li>
        <ol>
            <li>Select orders by menu_item_id , display orders and menu_items as a joined table</li>
            <li>Add order, specify customer and menu item</li>
            <li>Delete orders and modify customers_orders table</li>
            <li>Modify order to remove waiter dependency</li>
        </ol>
        <li>Customers page:  Kelley</li>
        <ol>
            <li>Add customers, assign to an order </li>
            <li>Modify loyalty_points</li>
        </ol>
        <li>Add menu items page:  Holly</li>
        <ol>
            <li><a href="menu_items">Add menu items, no assignments necessary (no fields can be blank)</li></a>
        </ol>
        <li>Customers page: Holly</li>
        <ol>
            <li><a href="customers_public">Select profile by name search</li></a>
            <li><a href="customers_public">Select all orders for specific customer by customer_id, display orders and customers as a joined table</li></a>
        </ol>
    </ol>




{{! Just some plain text }}
<div
  class="d-flex justify-content-center align-items-center flex-column w3-container w3-light-gray"
>
    <div class="m-3 d-flex flex-column align-items-center">
        <h3 class="m-3">Welcome!</h3>
        <p class="m-1">If you are a customer, you can search for your order details by clicking on "Customers"</p>
    </div>
    <div class="m-5">
        <h4>Today's Menu</h4>
        <ul>
        <li>Spinach Quiche 7.85</li>
        <li>Meatloaf 7.99</li>
        <li>Cheese Enchilada 4.50</li>
        </ul>
    </div>
    </div>
</div>
<div class="d-flex justify-content-center">
  <span class="m-3">(206) 331-1245</span>
  <span class="m-3">215 Merrill St. Seattle, WA</span>
  <span class="m-3">customer_service@house_finch.com</span>
</div>
