{{> nav currentRoute="/waiters" }}
<div class="my-container">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">EMPLOYEE ID</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">LAST NAME</th>
            <th scope="col">PHONE NUMBER</th>
            <th scope="col">SHIFT PREFERENCE</th>
            <th scope="col">SHIFT IDs</th>
            <th scope="col">SHIFT DAYS</th>
            <th scope="col">SHIFT TYPES</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>35465</td>
            <td>Mary</td>
            <td>Smith</td>
            <td>345-555-6666</td>
            <td>Night</td>
            <td>2</td>
            <td>Tuesday</td>
            <td>Swing</td>
            </tr>
            <tr>
            <td>2145</td>
            <td>George</td>
            <td>Lopez</td>
            <td>345-234-1111</td>
            <td>Day</td>
            <td>2</td>
            <td>Tuesday</td>
            <td>Swing</td>
            </tr>
            <tr>
            <td>33356</td>
            <td>Gabriel</td>
            <td>Keys</td>
            <td>345-222-1214</td>
            <td>Swing</td>
            <td>2</td>
            <td>Tuesday</td>
            <td>Swing</td>
            </tr>
        </tbody>
    </table>
</div>

{{! Form to search by last name NOT WORKING}}
<div class="my-container">
  <h2>Search For Waiters by Shift</h2>
  <p>Search for all waiters assigned to a specific shift ID</p>
  <form id="search-person-html" method="GET" action="/waiters">

    <label for="input-id">Preferred Shift:</label>
    <select id="input-shift-html" name="input-shift">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br /><br />
    <button class="btn btn-info">
      Search
    </button>
  </form>
</div>
<br />

{{! Form to add a record to the table using standard HTML forms WORKING ON RIGHT NOW}}
<div class="my-container">
  <h2>Add A Waiter</h2>
  <p>To add a waiter, please enter their information below and click `Submit`.
    Please assign a shift ID</p>
  <form id="add-waiter-form" method="POST" action="/add-waiter-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname-html" />

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname-html" />

    <label for="input-phone">Phone Number: </label>
    <input type="text" name="input-phone" id="input-phone-html" />

    <label for="shift-preference">Preferred Shift:</label>
    <select id="input-shift-html" name="input-shift">
      <option value="none">No Preference</option>
      <option value="day">Day Shift</option>
      <option value="swing">Swing Shift</option>
      <option value="night">Night Shift</option>
    </select>
    <br />
    <br />
    <label for="input-phone">Assigned Shift ID: </label>
    <input
      type="number"
      name="input-assigned-shift"
      id="input-assigned-shift-html"
    />
    <br /><br />

    <button class="btn btn-success">
      Add Waiter
    </button>
  </form>
</div>
<br />

{{! Form to add a record to the table using standard HTML forms WORKING }}
<div class="my-container">
  <h2>Modify A Waiter</h2>
  <p>To modify a waiter, please enter their information below and click
    `Submit`. Any fields left blank will not be modified</p>
  <form id="modify-waiter-form" method="POST" action="/modify-waiter-form">
    <label for="input-id">Employee ID: </label>
    <input type="number" name="input-id" id="input-id" /><br /><br />

    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname-html" />

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname-html" />

    <label for="input-phone">Phone Number: </label>
    <input type="text" name="input-phone" id="input-phone-html" />

    <label for="shift-preference">Shift Preference:</label>
    <select id="input-shift-html" name="input-shift">
      <option value="NULL">No Preference</option>
      <option value="day">Day Shift</option>
      <option value="swing">Swing Shift</option>
      <option value="night">Night Shift</option>
    </select>
    <br />
    <br />
    <label for="input-phone">Assigned Shift ID: </label>
    <input
      type="number"
      name="input-assigned-shift"
      id="input-assigned-shift-html"
    /><br /><br />

    <label for="radio-one">Add Shift</label>
    <input type="radio" id="add-shift" name="switch-one" value="add" checked />
    <label for="radio-two">Remove Shift</label>
    <input type="radio" id="delete-shift" name="switch-one" value="remove" />
    <br /><br />

    <button class="btn btn-success">
      Edit Waiter
    </button>
  </form>
</div>