{{> nav currentRoute="/shifts" }}

<div id="shifts-container" class="d-flex justify-content-between">

  <div id="add-shift-container" class="m-3">
    <h2>Add a Shift</h2>
    <p>To add an shift, please enter the information below and click `Submit`!</p>
    <form id="add-shift-form" class="d-flex flex-wrap" method="POST" action="/shifts/new">
      <div>
        <label for="input-total-price">Shift Day: </label>
        <input type="text" name="input-total-price" id="input-total-price-html">
      </div>
      <div>
        <label for="input-employee_id">Shift Type: </label>
        <input type="text" name="input-employee-id" id="input-employee-id-html">
      </div>
      <div>
        <label for="input-employee_id">Employee ID: </label>
        <input type="text" name="input-employee-id" id="input-employee-id-html">
      </div>
      <input type="submit">
    </form>
  </div>

</div>